body {
    background-color: lightblue;
}

.App {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

font {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li {
    list-style-type: none;
}

button {
    border: 2px solid darkblue ;
    border-radius: 25px;
}

input[type=submit] {
    border: 2px solid darkblue ;
    border-radius: 25px;
}