body {
    background-color: rgba(red, green, blue, alpha);
}

.App {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style-type: square;
}

font {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
    border: 2px solid darkblue ;
    border-radius: 25px;
}